@model AspNetCore.Models.TestItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TestItemId">Edit</a> |
</div>
