@model IEnumerable<AspNetCore.Models.TestItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TestItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TestItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TestItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
