@model TestItem

@if (Model == null)
{
    <br />
    <div class="alert alert-warning">
        <strong class="glyphicon glyphicon-warning-sign"></strong> У этого теста еще нет вопросов.
    </div>
    <p></p>
    <a href="/">Вернуться к выбору тестов</a>
}
else
{
    <br />
    <br />
    <h4>
        @Model.TestPackage.Name <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </h4>

    <form asp-action="Next">
        <input type="hidden" value="@Model.TestItemId" name="questionId"/>
        <input type="hidden" value="@Model.TestPackageId" name="gameId" />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Вопрос @Model.Order</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div>
                        @{
                            var question = Model.Question.Split(new [] {"\r\n"}, StringSplitOptions.None);
                            foreach (var line in question)
                            {
                                <b>
                                    @line
                                </b>
                                <br />
                            }
                        }
                        
                    </div>
                    <br />
                    @if (!string.IsNullOrEmpty(Model.Remark))
                {
                        <div>
                            @Model.Remark
                        </div>
                    }
                    <br />
                    <br />
                    <input type="text" id="answer" name="answer" class="form-control" autofocus="true" />
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" class="btn btn-success" value="Отправить" />
            </div>
        </div>
    </form>
}
